{% load static %}
<div class="footer-top-area">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="footer-about-us">
                    <h2>Интернет <span>Магазин</span></h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit maxime dolorem facere consequuntur
                        aliquid animi odit reprehenderit, praesentium ratione illum eius quo a laborum, magni provident
                        porro rerum, adipisci mollitia!</p>
                </div>
            </div>
        </div>
    </div>
</div>