{% load static %}
<!-- Latest jQuery form server -->
<script src="https://code.jquery.com/jquery.min.js"></script>
    
<!-- Bootstrap JS form CDN -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- jQuery sticky menu -->
<script src="{% static 'webshop/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'webshop/js/jquery.sticky.js' %}"></script>

<!-- jQuery easing -->
<script src="{% static 'webshop/js/jquery.easing.1.3.min.js' %}"></script>

<!-- Main Script -->
<script src="{% static 'webshop/js/main.js' %}"></script>

<!-- Slider -->
<script type="text/javascript" src="{% static 'webshop/js/bxslider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'webshop/js//script.slider.js' %}"></script>