{% extends 'webshop/base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container">
    {% if not request.user.is_authenticated %}
    <div class="register-form">
        <form action="" id="registerForm" name="registerForm" method="post">
            {% csrf_token %}
            {% for f in form %}
            <p class="">{{ f.label }}</p>
            <div class="form-errors">
                {% for error in f.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {{ f }}
            {% endfor %}
            <button class="register-confirm">Зарегестрироваться</button>
            <p class="login-href">Уже есть аккаунт? <a href="{% url 'webshop:login' %}">Войти.</a></p>
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}
